<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 flex items-center justify-center h-screen">
    <div class="bg-white p-12 rounded-md shadow-md w-96">
        <h2 class="text-3xl text-center font-extrabold mb-8 text-gray-800">¡Bienvenido de nuevo!</h2>
        <form method="POST">
            {% csrf_token %}
            {{fomr.as_p}}
            <div class="mb-6">
                <label for="text" class="block text-gray-800 text-sm font-semibold mb-2">Nombre de usuario</label>
                <input type="text" id="username" name="username" class="w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" placeholder="Nombre de usuario" required>
            </div>
            <div class="mb-6">
                <label for="password" class="block text-gray-800 text-sm font-semibold mb-2">Contraseña</label>
                <input type="password" id="password" name="password" class="w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" placeholder="************" required>
            </div>
            <button type="submit" class="w-full bg-purple-500 hover:bg-purple-600 text-white font-semibold py-3 px-4 rounded-lg transition duration-300">Iniciar sesión</button>
        </form>
        <p class="text-sm text-gray-800 mt-8 text-center">¿Nuevo aquí? <a href="{% url "singup" %}"" class="text-purple-500 font-semibold">Regístrate ahora</a></p>
        {% if error %}
            error
        {% endif %}
    </div>
</body>

</html>
