<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-blue-500 flex items-center justify-center h-screen">
    <div class="bg-white p-12 rounded-md shadow-md w-96">
        <h2 class="text-3xl text-center font-extrabold mb-8 text-gray-800">¡Regístrate ahora!</h2>
        <form method="POST">
            {% csrf_token %}
            {{fomr.as_p}}
            <div class="mb-6">
                <label for="username" class="block text-gray-800 text-sm font-semibold mb-2">Nombre de usuario</label>
                <input type="text" id="username" name="username" class="w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" placeholder="Nombre de usuario" required>
            </div>
            <div class="mb-6">
                <label for="name" class="block text-gray-800 text-sm font-semibold mb-2">Nombre</label>
                <input type="text" id="name" name="name" class="w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" placeholder="Nombre" required>
            </div>
            <div class="mb-6">
                <label for="lastname" class="block text-gray-800 text-sm font-semibold mb-2">Apellido</label>
                <input type="text" id="lastname" name="lastname" class="w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" placeholder="Apellido" required>
            </div>
            <div class="mb-6">
                <label for="email" class="block text-gray-800 text-sm font-semibold mb-2">Correo electrónico</label>
                <input type="email" id="email" name="email" class="w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" placeholder="ejemplo@correo.com" required>
            </div>
            <div class="mb-6">
                <label for="password" class="block text-gray-800 text-sm font-semibold mb-2">Contraseña</label>
                <input type="password" id="password" name="password" class="w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" placeholder="************" required>
            </div>
            <button type="submit" class="w-full bg-purple-500 hover:bg-purple-600 text-white font-semibold py-3 px-4 rounded-lg transition duration-300">Regístrate</button>
        </form>
        <p class="text-sm text-gray-800 mt-8 text-center">¿Ya tienes una cuenta? <a href="{% url 'singin' %}" class="text-purple-500 font-semibold">Inicia sesión</a></p>
        {% if error %}
            error
        {% endif %}
    </div>
</body>

</html>
